extends layout

block content
  h1= msg
  p #{tips}
  ul 
    li 
      a(href='#{bilibiliLink}' target='_blank')= bilibili
    li 
      a(href='#{zhihuLink}' target='_blank')= zhihu
  p(style='width:100%;position:fixed; bottom:0; text-align:center;')
    a(href='#{copyrightLink}')= copyright
